{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
<div class="mrow">
  <div class="mcol c8">

    {{ .Render "summary" }}

    <div class="adj">
      <div class="mrow">
        {{ with .PrevInSection }}
        <div class="mcol c6">
          <header>Previous Article</header>
          {{ .Render "li_sm" }}
        </div>
        {{ end }}
        {{ with .NextInSection }}
        <div class="mcol c6">
          <header>Next Article</header>
          {{ .Render "li_sm" }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ partial "single-bottom-ad.html" . }}

    {{ template "_internal/disqus.html" . }}
  </div>
  <div class="mcol c4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
{{ define "bottom-script" }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous-basic.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous.min.js" ></script>
    <script>
      for(var e of document.querySelectorAll('a.luminous')) new Luminous(e);
    </script>

    <script src='/js/single.js'></script>
{{ end }}
