{{ $page := .}}
{{ $img := $page.Resources.GetMatch (printf "**%s" .Params.featured_image) }}
{{ if $img }}
  {{ with $img }}
    <div class="thumb " style="background-image:url({{ .Permalink }})"></div>
  {{ end }}
{{else}}
  {{ $first_img := findRE "<img.*?src=[^>]*?>" .Content 1 }}
  {{ if $first_img }}
    {{ range $first_img }}
      {{ $src := (. | findRE "data-original=[\"'][^\"']+") }}
      {{ if not $src }}
        {{ $src = (. | findRE "src=[\"'][^\"']+") }}
      {{ end }}
      {{ range $src }}
        {{ $url := (replaceRE "(data-original|src)=[\"']" "" . )}}
        {{ $img := $page.Resources.GetMatch (printf "**%s" $url) }}
        {{ if $img }}
            <div class="thumb " style="background-image:url({{ $img.Permalink }})"></div>
        {{else}}
            <div class="thumb " style="background-image:url({{ $url }})"></div>
        {{end}}
      {{end}}
    {{end}}
  {{else}}
    <div class="thumb thumb-{{ .UniqueID }}"></div>
  {{ end }}
{{ end }}

